<% if (failure && failure.length) { %>
    <div class="width40 md-width60 sm-width60 usm-width80 marginautolr mt-1">
        <label style="height: 5rem;" class="form-input width100 marginautolr align-fc flex just-sb block height-disclaimer f-disclaimer f-disclaimer-bg-warning">
            <span><%= failure %></span>
        <i class="fa-solid fa-xmark f-size1rem msg-close"></i>
        </label>
    </div>
<% } %>
