<% if (success && success.length) { %>
    <div class="width40 md-width60 sm-width60 usm-width80 marginautolr mt-1">
        <label class="form-input width100 marginautolr height-disclaimer align-fc flex just-sb block f-disclaimer f-disclaimer-bg-warning">
            <span><%= success %></span>
        <i class="fa-solid fa-xmark msg-close f-size1rem"></i>
        </label>
    </div>
<% } %>
  