<% layout('layouts/boilerplate') -%>
<body>
    <div class="add-listing-page width60 md-width60 sm-width80 usm-width80 marginautolr flex flex-col">
        <form action="" method="POST" class="add-listing-page flex flex-col mt-2">
            <h1>Add Listing</h1>
        
            <label for="title" class="form-label">Title : </label>
            <input type="text" class="form-input" name="listing[title]" id="title" placeholder="Add Title" required>
            
            <label for="description" class="form-label">Description : </label>
            <textarea class="form-textarea" name="listing[description]" id="description" cols="20" rows="3" placeholder="Enter description here" required></textarea>
            
            <label for="listingCategory" class="form-label mt-1">Choose Category: </label>
            <select class="form-select mb-1" id="listingCategory" name="listing[category]" required>
            <option disabled>Please Choose Category</option>
            <option value="Pools">Pools</option>
            <option value="Hotels">Hotels</option>
            <option value="Mountains">Mountains</option>
            <option value="Houseboats">Houseboats</option>
            <option value="Beach">Beach</option>
            <option value="Golf">Golf</option>
            <option value="Domes">Domes</option>
            <option value="Restaurant">Restaurant</option>
            <option value="Playstation">Playstation</option>
            <option value="Skiing">Skiing</option>
          </select>
       
            <label for="img" class="form-label">Image URL : </label>
            <input type="file" class="form-file" name="listing[image]" id="image" placeholder="Enter image URL">
            
            <div class="flex mt-1 flex-wrap">
                <div class="flex-item1 flex flex-col width40 sm-width100 usm-width100">
                    <label for="price" class="form-label">Price : &#8377;</label>
                    <input type="text" class="form-input" name="listing[price]" id="price" placeholder="1200" required>    
                </div>
                <div class="flex-item2 flex flex-col width40 ml-2 sm-ml-zero usm-ml-zero sm-width100 usm-width100">
                    <label for="country" class="form-label">Country : </label>
                    <input type="text" class="form-input" name="listing[country]" id="country" placeholder="India" required>    
                </div>
            </div>
    
            <label for="location" class="form-label">Location : </label>
            <input type="text" class="form-input" name="listing[location]" id="location" placeholder="kerela" required>
            
            <span><button type="submit" class="btn btn-red col-w mt-1 mb-1">Add Listing</button></span>
        </div>
        </form>
    
    <!-- <form action="/listings" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="row mt-3">
            <div class="col-md-8 col-10 offset-md-2 offset-1">
                <h2>Create a Listing</h2>               
                <div class="mb-3">
                    <label for="title" class="form-label">Title : </label>
                    <input type="text" class="form-control" name="listing[title]" id="title" placeholder="Add Title" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please enter a Title.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description : </label>
                    <textarea class="form-control" name="listing[description]" id="description" cols="20" rows="3" placeholder="Enter description here" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please enter a short description.
                      </div>
                </div>
               <div class="mb-3">
                <label for="listingCategory">Choose Category</label>
                <select class="form-select" id="listingCategory" aria-label="Default select example" name="listing[category]" required>
                    <option disabled>Please Choose Category</option>
                    <option value="Pools">Pools</option>
                    <option value="Hotels">Hotels</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Houseboats">Houseboats</option>
                    <option value="Beach">Beach</option>
                    <option value="Golf">Golf</option>
                    <option value="Domes">Domes</option>
                    <option value="Restaurant">Restaurant</option>
                    <option value="Playstation">Playstation</option>
                    <option value="Skiing">Skiing</option>
                  </select>
               </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Image URL : </label>
                    <input type="file" class="form-control" name="listing[image]" id="image" placeholder="Enter image URL">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price : &#8377;</label>
                        <input type="text" class="form-control" name="listing[price]" id="price" placeholder="1200" required>
                        <div class="invalid-feedback">
                            Please enter price
                          </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country : </label>
                        <input type="text" class="form-control" name="listing[country]" id="country" placeholder="India" required>
                        <div class="invalid-feedback">
                            Please enter a valid country name.
                          </div>
                    </div>    
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location : </label>
                    <input type="text" class="form-control" name="listing[location]" id="location" placeholder="kerela" required>
                    <div class="invalid-feedback">
                        Please enter a location.
                      </div> 
                </div>
                <button class="btn btn-dark btn-add mb-2">Add</button>
            </div>
        </div>
    </form> -->
</body>

        