<% layout('layouts/boilerplate') -%>
<body>

    <div class="nav-bottom-container">
        <div class="category-list">
            <div class="arrow-icon">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="category-list-category-container">
                <div class="listing-category-item">
                    <a href="/listings/category/Restaurant">
                    <i class="fa-solid fa-utensils"></i>
                    <p>Restaurant</p></a>
                </div>
                <div class="listing-category-item">
                <a href="/listings/category/Playstation">
                <i class="fa-solid fa-gamepad"></i>
                <p>Play Station</p></a>
                </div>
                <div class="listing-category-item">
                <a href="/listings/category/Skiing">
                <i class="fa-solid fa-person-skiing-nordic"></i>
                <p>Skiing</p></a>
                </div>    
                <div class="listing-category-item">
                    <a href="/listings/category/Restaurant">
                    <i class="fa-solid fa-utensils"></i>
                    <p>Restaurant</p></a>
                </div>
                <div class="listing-category-item">
                <a href="/listings/category/Playstation">
                <i class="fa-solid fa-gamepad"></i>
                <p>Play Station</p></a>
                </div>
                <div class="listing-category-item">
                <a href="/listings/category/Skiing">
                <i class="fa-solid fa-person-skiing-nordic"></i>
                <p>Skiing</p></a>
                </div>    
                <div class="listing-category-item">
                    <a href="/listings/category/Restaurant">
                    <i class="fa-solid fa-utensils"></i>
                    <p>Restaurant</p></a>
                </div>
                <div class="listing-category-item">
                <a href="/listings/category/Playstation">
                <i class="fa-solid fa-gamepad"></i>
                <p>Play Station</p></a>
                </div>
                <div class="listing-category-item">
                <a href="/listings/category/Skiing">
                <i class="fa-solid fa-person-skiing-nordic"></i>
                <p>Skiing</p></a>
                </div>        
                <div class="listing-category-item">
                    <a href="/listings/category/Restaurant">
                    <i class="fa-solid fa-utensils"></i>
                    <p>Restaurant</p></a>
                </div>
            </div>
            <div class="arrow-icon">
            <i class="fa-solid fa-arrow-right"></i>
            </div>
            </div>
            <div class="nav-bottom-bar-right">
                <label class="nav-bottom-bar-right-checkbox" for="togglebtn">
                  Display total after taxes
                </label>
                <input type="checkbox" id="togglebtn">
                <label for="togglebtn" class="togglebtn"><i class="fa-regular fa-circle"></i></label>
            </div>    
        </div> 


        <!-- cannot figure out the error -->
        <div class="flex flex-wrap just-se pt-2 marginautolr width80">
            <%for (listing of listings) {%>
                <a class="text-decor-none show-overlay-effect" style="color: black;" href="/listings/<%= listing._id %>">
                    <div class="width30 md-width40 sm-width100 usm-width100 mb-2">
                    <img class="width100 height40 usm-height30 img" src="<%= listing.image.url %>" alt="">
                    <p class="poppins-medium"><%= listing.title %></p>
                    <p>&#8377; <%= listing.price.toLocaleString("EN-IN") %> per night <span class="tax-toggle"> + 18 % GST </span></p>
                </a>
            </div>
            <% } %>
        </div>

</body>
